@model IEnumerable<BilliardClub.Models.BilliardTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BilliardTables</h2>
@if (!Model.Any())
{
    <p>There are no billiard tables!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Billiard Table</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var billiardTable in Model)
        {
            <tr>
                <td>@Html.ActionLink(billiardTable.Position, "FreeSlots", "BilliardTable", new { id = billiardTable.BilliardTableId }, null)</td>
            </tr>
        }
        </tbody>
    </table>
}




